.todo{
width:500px;
display: flex;
margin:5px;
padding-left:30%
}

.todos{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;
}