body {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-group.mb-3 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.card {
  margin-top: 100px;
}
.btn.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.jokeForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The animation code */
@keyframes chuck {
  from {
    background-color: none;
  }
  to {
    background-color: yellow;
  }
}

/* The element to apply the animation to */
img {
  background-color: red;
  animation-name: chuck;
  animation-duration: 4s;
}
.bullets {
  background-color: yellow;
}
